USE [master]
GO
/****** Object:  Database [Sakila_HRM]    Script Date: 5/19/2026 9:15:01 AM ******/
CREATE DATABASE [Sakila_HRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sakila_HRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Sakila_HRM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sakila_HRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Sakila_HRM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sakila_HRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sakila_HRM]
GO
/****** Object:  Table [dbo].[address]    Script Date: 5/19/2026 9:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[address2] [varchar](50) NULL,
	[district] [varchar](20) NOT NULL,
	[city_id] [int] NOT NULL,
	[postal_code] [varchar](10) NULL,
	[phone] [varchar](20) NOT NULL,
	[last_update] [datetime] NOT NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 5/19/2026 9:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[city_id] [int] NOT NULL,
	[city] [varchar](50) NOT NULL,
	[country_id] [int] NOT NULL,
	[last_update] [datetime] NOT NULL,
 CONSTRAINT [PK_city] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 5/19/2026 9:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[country_id] [int] NOT NULL,
	[country] [varchar](50) NOT NULL,
	[last_update] [datetime] NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 5/19/2026 9:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](45) NOT NULL,
	[last_name] [varchar](45) NOT NULL,
	[address_id] [int] NOT NULL,
	[picture] [image] NULL,
	[email] [varchar](50) NULL,
	[store_id] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[username] [varchar](16) NOT NULL,
	[password] [varchar](40) NULL,
	[last_update] [datetime] NOT NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store]    Script Date: 5/19/2026 9:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[store_id] [int] IDENTITY(1,1) NOT NULL,
	[manager_staff_id] [int] NOT NULL,
	[address_id] [int] NOT NULL,
	[last_update] [datetime] NOT NULL,
 CONSTRAINT [PK_store] PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([address_id], [address], [address2], [district], [city_id], [postal_code], [phone], [last_update]) VALUES (1, N'47 MySakila Drive', NULL, N' ', 300, NULL, N' ', CAST(N'2006-02-15T04:45:30.000' AS DateTime))
INSERT [dbo].[address] ([address_id], [address], [address2], [district], [city_id], [postal_code], [phone], [last_update]) VALUES (2, N'28 MySQL Boulevard', NULL, N' ', 576, NULL, N' ', CAST(N'2006-02-15T04:45:30.000' AS DateTime))
INSERT [dbo].[address] ([address_id], [address], [address2], [district], [city_id], [postal_code], [phone], [last_update]) VALUES (3, N'23 Workhaven Lane', NULL, N' ', 300, NULL, N' ', CAST(N'2006-02-15T04:45:30.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[address] OFF
GO
INSERT [dbo].[city] ([city_id], [city], [country_id], [last_update]) VALUES (300, N'Lethbridge', 20, CAST(N'2006-02-15T04:45:25.000' AS DateTime))
INSERT [dbo].[city] ([city_id], [city], [country_id], [last_update]) VALUES (576, N'Woodridge', 8, CAST(N'2006-02-15T04:45:25.000' AS DateTime))
GO
INSERT [dbo].[country] ([country_id], [country], [last_update]) VALUES (8, N'Australia', CAST(N'2006-02-15T04:44:00.000' AS DateTime))
INSERT [dbo].[country] ([country_id], [country], [last_update]) VALUES (20, N'Canada', CAST(N'2006-02-15T04:44:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([staff_id], [first_name], [last_name], [address_id], [picture], [email], [store_id], [active], [username], [password], [last_update]) VALUES (1, N'Mike', N'Hillyer', 3, NULL, N'Mike.Hillyer@sakilastaff.com', 1, 1, N'Mike', N'8cb2237d0679ca88db6464eac60da96345513964', CAST(N'2006-02-15T04:57:16.000' AS DateTime))
INSERT [dbo].[staff] ([staff_id], [first_name], [last_name], [address_id], [picture], [email], [store_id], [active], [username], [password], [last_update]) VALUES (2, N'Jon', N'Stephens', 4, NULL, N'Jon.Stephens@sakilastaff.com', 2, 1, N'Jon', N'8cb2237d0679ca88db6464eac60da96345513964', CAST(N'2006-02-15T04:57:16.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
SET IDENTITY_INSERT [dbo].[store] ON 

INSERT [dbo].[store] ([store_id], [manager_staff_id], [address_id], [last_update]) VALUES (1, 1, 1, CAST(N'2006-02-15T04:57:12.000' AS DateTime))
INSERT [dbo].[store] ([store_id], [manager_staff_id], [address_id], [last_update]) VALUES (2, 2, 2, CAST(N'2006-02-15T04:57:12.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[store] OFF
GO
USE [master]
GO
