USE [master]
GO
/****** Object:  Database [Sakila_CRM]    Script Date: 5/18/2026 9:13:20 PM ******/
CREATE DATABASE [Sakila_CRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sakila_CRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Sakila_CRM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sakila_CRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Sakila_CRM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sakila_CRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sakila_CRM]
GO
/****** Object:  Table [dbo].[address]    Script Date: 5/18/2026 9:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[address2] [varchar](50) NULL,
	[district] [varchar](20) NOT NULL,
	[city_id] [int] NOT NULL,
	[postal_code] [varchar](10) NULL,
	[phone] [varchar](20) NOT NULL,
	[last_update] [datetime] NOT NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 5/18/2026 9:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[country_id] [int] NOT NULL,
	[last_update] [datetime] NOT NULL,
 CONSTRAINT [PK_city] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 5/18/2026 9:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[country_id] [int] IDENTITY(1,1) NOT NULL,
	[country] [varchar](50) NOT NULL,
	[last_update] [datetime] NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 5/18/2026 9:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[store_id] [int] NOT NULL,
	[first_name] [varchar](45) NOT NULL,
	[last_name] [varchar](45) NOT NULL,
	[email] [varchar](50) NULL,
	[address_id] [int] NOT NULL,
	[active] [char](1) NOT NULL,
	[create_date] [datetime] NOT NULL,
	[last_update] [datetime] NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([address_id], [address], [address2], [district], [city_id], [postal_code], [phone], [last_update]) VALUES (1, N'47 MySakila Drive', NULL, N' ', 300, NULL, N' ', CAST(N'2006-02-15T04:45:30.000' AS DateTime))
INSERT [dbo].[address] ([address_id], [address], [address2], [district], [city_id], [postal_code], [phone], [last_update]) VALUES (2, N'28 MySQL Boulevard', NULL, N' ', 576, NULL, N' ', CAST(N'2006-02-15T04:45:30.000' AS DateTime))
INSERT [dbo].[address] ([address_id], [address], [address2], [district], [city_id], [postal_code], [phone], [last_update]) VALUES (3, N'23 Workhaven Lane', NULL, N' ', 300, NULL, N' ', CAST(N'2006-02-15T04:45:30.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[address] OFF
GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([city_id], [city], [country_id], [last_update]) VALUES (1, N'A Corua (La Corua)', 87, CAST(N'2006-02-15T04:45:25.000' AS DateTime))
INSERT [dbo].[city] ([city_id], [city], [country_id], [last_update]) VALUES (2, N'Abha', 82, CAST(N'2006-02-15T04:45:25.000' AS DateTime))
INSERT [dbo].[city] ([city_id], [city], [country_id], [last_update]) VALUES (3, N'Abu Dhabi', 101, CAST(N'2006-02-15T04:45:25.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[city] OFF
GO
SET IDENTITY_INSERT [dbo].[country] ON 

INSERT [dbo].[country] ([country_id], [country], [last_update]) VALUES (1, N'Afghanistan', CAST(N'2006-02-15T04:44:00.000' AS DateTime))
INSERT [dbo].[country] ([country_id], [country], [last_update]) VALUES (2, N'Algeria', CAST(N'2006-02-15T04:44:00.000' AS DateTime))
INSERT [dbo].[country] ([country_id], [country], [last_update]) VALUES (3, N'American Samoa', CAST(N'2006-02-15T04:44:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[country] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [store_id], [first_name], [last_name], [email], [address_id], [active], [create_date], [last_update]) VALUES (1, 1, N'MARY', N'SMITH', N'MARY.SMITH@sakilacustomer.org', 5, N'1', CAST(N'2006-02-14T22:04:36.000' AS DateTime), CAST(N'2006-02-15T04:57:20.000' AS DateTime))
INSERT [dbo].[customer] ([customer_id], [store_id], [first_name], [last_name], [email], [address_id], [active], [create_date], [last_update]) VALUES (2, 1, N'PATRICIA', N'JOHNSON', N'PATRICIA.JOHNSON@sakilacustomer.org', 6, N'1', CAST(N'2006-02-14T22:04:36.000' AS DateTime), CAST(N'2006-02-15T04:57:20.000' AS DateTime))
INSERT [dbo].[customer] ([customer_id], [store_id], [first_name], [last_name], [email], [address_id], [active], [create_date], [last_update]) VALUES (3, 1, N'LINDA', N'WILLIAMS', N'LINDA.WILLIAMS@sakilacustomer.org', 7, N'1', CAST(N'2006-02-14T22:04:36.000' AS DateTime), CAST(N'2006-02-15T04:57:20.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
/****** Object:  Index [IX_city_country]    Script Date: 5/18/2026 9:13:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_city_country] ON [dbo].[city]
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_address]    Script Date: 5/18/2026 9:13:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_customer_address] ON [dbo].[customer]
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
